.sidebar {
    width: 50%;
    position: fixed;
    z-index: 101;
    left: 0;
    height: calc(100% - 3rem);
    max-width: 450px;
    min-width: 200px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    padding: 1.5rem 20px 1.5rem 1rem;
    transform: translateX(-100%);
    transition: transform 0.2s;
    overflow-y: auto;
}
.sidebar.visible {
    transform: translateX(0);
}

.sidebar-close-btn {
    position: absolute;
    top: 1%;
    right: 2%;
    width: 1.2rem;
    height: 1.2rem;
}

.sidebar-topics-item {
    cursor: pointer;
    margin-top: 0.3rem;
    line-height: 1;
    font-weight: 700;
    border-radius: 10px;
}
.sidebar-topics-item:hover {
    background: rgba(111, 109, 109, 0.15);
}
.sidebar-close-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.sidebar-topics,
.sidebar-topics-item-list {
    list-style: none;
    padding: 0;
}

.sidebar-topics-item-list {
    padding-left: 0.5rem;
    font-weight: 500;
}

.sidebar-topics-item span {
    display: block;
    padding: 0.5rem;
}
.sidebar-topics-item-list li:last-child::after {
    content: "";
    position: absolute;
    width: 80%;
    border-top: 1px solid rgb(189, 180, 180);
}

.sidebar-topics-item-list-link {
    color: rgb(60, 60, 60);

}
.sidebar-topics-item-list-link:hover {
    color: rgb(60, 60, 60);
    text-decoration: none;
    font-weight: 700;
}
@media screen and (max-width: 700px) {
    html {
        font-size: 85%;
    }
}
@media screen and (max-width: 500px) {
    html {
        font-size: 80%;
    }
}

img.wrong-rotation {
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /*transform: rotate(90deg);
 -webkit-transform: rotate(90deg);*/
    -moz-transform: rotate(90deg);
}

.my-carousel img {
    width: 100%;
    image-orientation: from-image;
}

.inactive {
    display: none;
}

.active {
    display: block;
}

.zoom_container {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    /* position: absolute;
    right: 0; */
    padding: 15px;
    position: absolute;
    z-index: 100;
}

.zoom_container.hidden {
    display: none;
}


a.sample_edit_btn {
    height: 50px;
    margin: 20px 0px;
    border-radius: 5px;
    background-color: darkcyan;
    display: inline-block;
    line-height: 50px;
    color: white;
    font-weight: bold;
    padding: 0px 10px;
    transition: 0.5s;
}

a.sample_edit_btn:hover {
    text-decoration: none;
    background-color: mediumaquamarine;
    transition: 0.5s;
}

input.wide-text-input {
    display: block;
    width: 50%;
    margin-bottom: 15px;
    height: 30px;
}

.header {
    margin-bottom: 20px;
}

.field_wrapper {
    margin-bottom: 15px;
}

.my-carousel {
    margin: 20px 0px;
}

.samples_list_sidebar {
    position: fixed;
    top: 30%;
    background-color: #444;
    z-index: 99;
    transform: rotate(-90deg);
    height: 50px;
    line-height: 50px;
    width: 230px;
    text-align: center;
    left: -90px;
    border-radius: 0px 0px 25px 25px;
}

a.sidebar-toggle {
    color: white;
    font-size: 20px;
}

a.sidebar-toggle:hover {
    text-decoration: none;
}

.team_member {
    width: 60%;
    clip-path: circle(at center);
    margin: 0 auto;
    display: block;
}

.team_member_card {
    padding: 15px;
}

.team_member_card p {
    text-align: center;
}

.team_member_card h5 {
    text-align: center;
}

.team_member_fixed {
    width: 200px;
    clip-path: circle(at center);
    display: block;
}