{% extends "pathology/base.html" %}

{% block title %}3D-атлас патологии СибГМУ{% endblock %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Атлас препаратов музея кафедры морфологии и общей патологии СибГМУ</h1>

            <p>Музей общей патологии имени О.В. Курлова</p>
            <p>По состоянию на декабрь 2021 года, музей насчитывает 252 макропрепарата, которые представлены влажными и сухими анатомическими препаратами. Кроме того, экспозиция музея включает парафиновые и гипсовые муляжи патологически изменённых органов человека, коллекцию камней желчного пузыря и лоханки почки.  Также в музее представлены образцы современных имплантируемых материалов, таких, как искусственные клапаны сердца, стенты кровеносных сосудов, протезы кровеносных сосудов;     кардиостимуляторы, биопсийные иглы.</p>
            <img src="{% static 'pathology/images/museum4.jpg' %}" class="centered">
            <p>Коллекция музея начала формироваться в 1978 году, задолго до его официального создания. Это была инициатива доцента О.В. Курлова и доцента Т.И. Горшениной, целью которых стал поиск образцов для сопровождения практических занятий в рамках курса «Общая патология». При исследовании трупов в СибГМУ и медицинских организациях Томска изымались органы человека с различными патологиями. Через несколько десятков лет была создана основа коллекции для будущего музея. В двухтысячных годах усилиями работников кафедры морфологии и общей патологии большая часть фиксированного биологического материала была использована для приготовления влажных анатомических препаратов. В результате, в 2015 году по инициативе заведующей кафедрой морфологии и общей патологии, профессора И.В. Суходоло, был создан музей общей патологии, который после смерти О.В. Курлова был переименован в Музей общей патологии им. О.В. Курлова.
            </p>
            <img src="{% static 'pathology/images/museum3.jpg' %}" class="centered">
            <p>После изъятия из трупа, внутренний орган подвергался промывке водопроводной водой. В зависимости от целей, мог фрагментироваться или разрезаться. Фиксированные внутренние органы подвергались препаровке, промывке и заключению в фиксирующий раствор. Большая часть анатомических препаратов Музея фиксированы в 4% водном растворе формальдегида, незначительная часть фиксирована в водных солевом или спиртовом растворах.</p>
            <img src="{% static 'pathology/images/museum1.jpg' %}" class="centered">
            <p>Любая коллекция биологических объектов – уникальна. Несмотря на наличие почти в каждом медицинском университете музея патологической анатомии, размер коллекции, качество образцов и условия их хранения определяют ценность коллекции. Значение подобных экспозиций состоит в том, что в одном помещении времени студенты имеют возможность увидеть патологический процесс на разных стадиях его развития, исход заболевания, а также патологии, которые достаточно редко встречаются в современной клинической практике.</p>
            <img src="{% static 'pathology/images/museum2.jpg' %}" class="centered">
        </div>
    </div>
{% endblock %}
