{% extends "pathology/base.html" %}

{% block title %}Команда{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Команда</h1>
        </div>
    </div>

    <div class="row justify-content-center">
    	<div class="col-lg-4 col-md-6 col-sm-12 team_member_card">
            <!--<img src="" alt="" class="team_member">-->
            <h5>Владимир Шитов</h5>
            <p>Инициатор проекта и бэкенд разработчик. Придумал идею и написал основной код проекта</p>
        </div>
        
    	<div class="col-lg-4 col-md-6 col-sm-12 team_member_card">
            <!--<img src="" alt="" class="team_member">-->
            <h5>Софья Беляева</h5>
            <p>Организатор. Собрала людей, организовала фотостудию и наладила общение с экспертами</p>
        </div>
    
    	<div class="col-lg-4 col-md-6 col-sm-12 team_member_card">
            <h5>Снежана Елистратова</h5>
            <p>Фотограф. Сняла более 30 препаратов, сделала сотни снимков и обработала их</p>
        </div>
        
    	<div class="col-lg-4 col-md-6 col-sm-12 team_member_card">
            <h5>Кирилл Ширяев</h5>
            <p>Фронтенд-разработчик. Сделал сайт удобнее и красивее</p>
        </div>
        
    	<div class="col-lg-4 col-md-6 col-sm-12 team_member_card">
            <h5>Любовь Леготкина</h5>
            <p>Фотограф. Сделала первые снимки препаратов</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h1>Благодарности</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ul>
                <li>Губанов Александр Валерьевич</li>
                <li>Дзюман Анна Николаевна</li>
                <li>Мильто Иван Васильевич</li>
                <li>Плешко Раиса Ивановна</li>
                <li>Суходоло Ирина Владимировна</li>
                <li>Хлусов Игорь Альбертович</li>
                <li>Шевцова Наталья Михайловна</li>
            </ul>
        </div>
    </div>
{% endblock %}
